<form (ngSubmit)="addTodo()">
	<input type="text" [(ngModel)]="todoDecs" name="desc">
	<button type="submit">add</button>
</form>
<table class="table">
	<tr>
		<th>#</th>
		<th>text</th>
		<th>status</th>
		<th>created at</th>
		<th>toggle status</th>
		<th>edit</th>
		<th>remove</th>
	</tr>
	<tr *ngFor="let todo of todos">
		<td>index</td>
		<td>
			<input type="text" [(ngModel)]="todo.desc" *ngIf="todo.inEdit">
			<span *ngIf="!todo.inEdit">{{todo.desc}}</span>
			<button *ngIf="todo.inEdit" (click)="toggleEdit(todo)">Edit</button>
		</td>
		<td>{{todo.status}}</td>
		<td>{{todo.id | date}}</td>
		<td>
			<form (ngSubmit)="toggleStatus(todo)">
				<button *ngIf="todo.status" type="submit">in-complete</button>
				<button *ngIf="!todo.status" type="submit">complete</button>
			</form>
		</td>
		<td>
			<button (click)="toggleEdit(todo)" [disabled]="todo.inEdit" >Edit</button>
		</td>
		<td>
			<form (ngSubmit)="deleteTodo(todo)">
				<button type="submit">remove</button>
			</form>
		</td>
	</tr>
</table>